/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-family: "Gotham", "Helvetica", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.nav_bar {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 36px;
}

.nav_bar a{
  text-decoration: none;
  color: white;
}

.nav_bar a:first-child{
  padding-right: 24px;
}

.index_header {
  height: 90%;
  /*width: 100%;*/
  background-image: url(https://static.pexels.com/photos/292600/pexels-photo-292600.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.logo {
  position: relative;
  width: 200px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.scroll_down {
  position: relative;
  text-align: center;
  color: white;
  top: 75%;
}

.pointer {
  width: 20px;
  margin: 0 auto;

  animation: MoveUpDown .8s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 6px;
  }
  100% {
    bottom: 0;
  }
}

.button {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 50%;
}

.button a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: solid 2px white;
  border-radius: 40px;
}

.button a:hover{
  background-color: rgba(255, 255, 255, 0.3);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

main {
  position: relative;
  width: 100%;
}

.gallery_container {
  display: flex;
  margin-left: 44px;
  margin-right: 44px;
  overflow: hidden;
}

.gallery_item {
  max-width: 260px;
  display: inline-block;
  border: solid 2px #808080;
  margin-left: 12px;
  margin-right: 12px;
}

main img{
  width: 100%;
}
/*.gallery_item {
  display: block;
  width: 300px;
}

.photo {
  width: 300px;
}*/
