<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<nav class="nav_bar">

  <a href="#">Home</a>
  <a href="#">Contact</a>

</nav>

<body>

<%= yield %>

</body>
</html>
